.chat {
    flex: 2;
    border-left: 1px solid #6d7e88;
    border-right: 1px solid #6d7e88;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6d7e88;
}

.chat .top .userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.chat .top .userInfo .avatar-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

.chat .top .icons {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.chat .top .icons img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.center {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.center .messages {
    display: flex;
    gap: 20px;
    max-width: 80%;

    &.own {
        align-self: flex-end;

        .text {
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: 5px;

            p {
                background-color: #81f199;
                padding: 10px;
                border-radius: 12px;
                color: #000;
                font-size: 13px;
            }
        }
    }

    .avatar-circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: bold;
        color: #000000;
    }

    .text {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 5px;

        p {
            background-color: #fafcfc99;
            padding: 10px;
            border-radius: 12px;
            color: #000000;
            font-size: 13px;
        }
        img {
            width: 70%;
            height: 250px;
            border-radius: 10%;
            object-fit: cover;
            align-self: flex-end;
        }
    }

    span {
        font-size: 10px;
        color: #f0f5f8;
    }
}

.bottom {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-top: 1px solid #6d7e88;
    justify-content: space-between;
    margin-top: auto;
}

.bottom .icons {
    display: flex;
    gap: 10px;
    cursor: pointer;

    img {
        width: 20px;
        height: 20px;
    }
}

.bottom input {
    flex: 1;
    min-width: 0;
    background-color: #202c335e;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px;
    border-radius: 12px;

    &:disabled {
        cursor: not-allowed;
    }
}

.bottom .emoji {
    cursor: pointer;

    img {
        width: 20px;
        height: 20px;
    }
}

.bottom .sendButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;

    &:disabled {
        background-color: #6c757d;
        cursor: not-allowed;
    }
}

.emojiPicker {
    position: relative;
}

.emojiPicker .EmojiPickerReact {
    position: absolute;
    bottom: 50px;
    left: 0;
}