.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    .user {
        display: flex;
        gap: 10px;
        align-items: center;
    
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    
    .icons {
        display: flex;
        gap: 20px;
    
        img {
          width: 15px;
          height: 15px;
          cursor: pointer;
        }
      }
}
