.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    .user {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 0;
    }
    
    .icons {
        display: flex;
        gap: 20px;
    
        img {
          width: 15px;
          height: 15px;
          cursor: pointer;
        }
      }
}

.avatar-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}
