.chat-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}

.chat-list .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.chat-list .searchBar {
    display: flex;
    flex: 1;
    background-color: #202c335e;
    border-radius: 12px;
    padding: 5px 12px;
    align-items: center;
    gap: 8px;
}

.chat-list .searchBar input {
    flex: 1;
    border: none;
    background: transparent;
    color: #fff;
    outline: none;
    font-size: 14px;
}

.chat-list .searchBar img {
    width: 18px;
    height: 18px;
    margin: 5px 0;
}

.chat-list .search > img {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.chat-list .item {
    display: flex;
    border-bottom: 1px solid #6d7e88;
    padding: 10px 0;
    align-items: center;
}

.chat-list .item .avatar-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    margin-right: 10px;
    margin-left: 20px;
}

/* .chat-list .item .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
} */

.chat-list .item .info p {
    font-size: 12px;
    color: #c5c3c3;
    font-weight: 100;
}

.chat-list .item .info span {
    font-size: 14px;
    font-weight: 600;
}