.detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
}

.detail .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.detail .user .avatar-circle {
    width: 100px;
    height: 100px;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

.detail .block {
    background-color: #f70e0e;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 80px;
    border-radius: 12px;
    cursor: pointer;
    align-self: center;
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;

    &:hover{
        background-color: #fc4a4a;
    }
}

.detail .logout {
    background-color: #01002986;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 80px;
    border-radius: 12px;
    cursor: pointer;
    align-self: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;

    &:hover{
        background-color: #171d559d;
    }
}