.addUser {
    width: max-content;
    height: max-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #021724;
    border-radius: 12px;
    padding: 20px;

    form {
        display: flex;
        gap: 10px;

        input {
            padding: 10px;
            border-radius: 12px;
            border: none;
            outline: none;
            background-color: #192227b7;
            color: #fff;
        }

        button {
            background-color: #0fb6f8fa;
            color: #fff;
            border: none;
            outline: none;
            padding: 10px;
            border-radius: 12px;
            cursor: pointer;
        }
    }
}

.user {
    margin-top: 50px;
    display: flex;
    align-items: center;

    .detail {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        /* flex-wrap: nowrap; */

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            flex-shrink: 0;
        }

        p {
            margin: 0;
            /* white-space: nowrap; */
        }
    }
    button {
        background-color: #9af7befa;
        color: #000;
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 12px;
        cursor: pointer;
    }
}